<!DOCTYPE html>
<html>
<head><title>Welcome</title>
<style>
    .button {
        display: flex;
        justify-content: center;
        border: 1px solid pink;
        width: 70px;
        border-radius: 10px;
        padding: 5px 5px;
        background-color: blanchedalmond;
        color: black;
    }
  </style></head>
<body>
    <h1>Welcome Page</h1>
    <div style="display: flex; flex-direction: column;">
        <a href="/users" class="button">Users</a><br>
        <a href="/city_time" class="button">Time</a><br>
        <a href="/cnt" class="button">Counter</a>
     </div>
</body>
</html>
